<div class="container d-flex justify-content-center">
  <div class="col-md-6">
    <%= link_to "← #{@chat.medication.name}", medication_path(@chat.medication), class: "text-decoration-none fs-4" %>

    <h1 id="chat_title" class="mt-2"><%= @chat.title %></h1>

    <div id="messages" class="mt-4">
      <%= render "chat_messages/messages", chat_messages: @chat.chat_messages %>
    </div>

    <div id="new_message">
      <%= render "chat_messages/form", chat: @chat, message: @message %>
    </div>
  </div>
</div>
