<%= link_to "#{@chat.medication.name}", medication_path(@chat.medication) %>

<h1 id="chat_title"><%= @chat.title %></h1>

<div id="messages">
  <%= render "chat_messages/messages", chat_messages: @chat.chat_messages %>
</div>

<div id="new_message">
 <%= render "chat_messages/form", chat: @chat, message: @message %>
</div>
