<% chat_messages.each do |message| %>
  <% if message.role == "user" %>
    <div class="d-flex justify-content-end mb-4">
      <div class="bg-primary text-white px-4 py-3 rounded-pill">
        <%= message.content %>
      </div>
    </div>
  <% elsif message.role == "assistant" %>
    <div class="d-flex justify-content-start mb-4">
      <div class="medication-card px-4 py-3 bg-white px-4 py-3 ">
        <%= message.content %>
      </div>
    </div>
  <% end %>
<% end %>
